@font-face {
  font-family: 'source_code_proregular';
  src: url('../fonts/sourcecodepro-regular-webfont.eot');
  src: url('../fonts/sourcecodepro-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/sourcecodepro-regular-webfont.woff') format('woff'),
       url('../fonts/sourcecodepro-regular-webfont.ttf') format('truetype'),
       url('../fonts/sourcecodepro-regular-webfont.svg#source_code_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'capture_itregular';
  src: url('../fonts/capture_it-webfont.eot');
  src: url('../fonts/capture_it-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/capture_it-webfont.woff') format('woff'),
       url('../fonts/capture_it-webfont.ttf') format('truetype'),
       url('../fonts/capture_it-webfont.svg#capture_itregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'league_gothicitalic';
  src: url('../fonts/leaguegothic-italic-webfont.eot');
  src: url('../fonts/leaguegothic-italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/leaguegothic-italic-webfont.woff') format('woff'),
       url('../fonts/leaguegothic-italic-webfont.ttf') format('truetype'),
       url('../fonts/leaguegothic-italic-webfont.svg#league_gothicitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'league_gothicregular';
  src: url('../fonts/leaguegothic-regular-webfont.eot');
  src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
       url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
       url('../fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

video {
  width: 600px;
}

.reveal sup {
  font-size: 0.6em;
}

/**
 * Demos
 */

.reveal .demo-code {
 position: relative;
 margin-bottom: 40px;
}

.demo-btn {
  position: absolute;
  right: 60px;
  bottom: 10px;
}

.reveal .demo .widget {
  box-sizing: border-box;
  width: 90%;
  border: 2px dashed gray;
  margin: 15px auto;
  padding: 0 40px;
}

.reveal .demo .widget.expand {
  padding: 30px;
}

#demo-templates,
#demo-content {
  height: 600px;
}

.jigglypuff {
  position: absolute;
  -webkit-transform: rotate(-15deg);
  width: 450px;
  transition: bottom 0.3s ease !important;
  bottom: -1000px;
}

.jigglypuff.in {
  bottom: -350px;
}

#bio {
  display: inline-block;
}

input[type="text"] {
  font-size: 20px;
  padding: 3px;
}

moment-now,
moment-format,
moment-parse,
moment-from {
  padding: 3px 6px;
  background: tomato;
  color: white;
}

.reveal .mailchimp,
.reveal .moment {
  margin: 0 auto 40px;
}

.reveal .moment {
  font-size: 34px;
}

/**
 * Voices
 */

.voice.voice-human {
  text-transform: none;
}

/**
 * Helpers
 */

.left-align {
  text-align: left;
}
.demo.left-align .widget {
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.center-align {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.wrap {
  overflow: hidden;
}

.hidden {
  display: none;
}

.wide-rule {
  margin-top: 1em;
  margin-bottom: 1em;
}

.blink {
  -webkit-animation: blink 1s steps(5, start) infinite;
  -moz-animation: blink 1s steps(5, start) infinite;
  animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}

.supported {
  color: #387D7E;
}

.not-supported {
  color: #d14;
}

.marginless {
  margin: 0 !important;
}

.reveal .embiggen code {
  font-size: 24px;
  line-height: 1.3em;
}

.lighten {
  color: gray;
}

.reveal .flex-container {
  display: flex;
  height: 220px;
  width: 90%;
  margin: 15px auto 50px;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}

.foo {
  height: 100%;
  width: 48%;
}

.foo pre {
  width: 100%;
  height: 100%;
}

.foo code {
  height: 97%;
}

/**
 * Extensions
 */

 .reveal .billboard {
   font-family: 'league_gothicregular';
   letter-spacing: 5px;
 }

 .reveal .stencil {
   font-family: 'capture_itregular';
   letter-spacing: 5px;
 }

 .reveal .strong {
   font-weight: bold;
 }

 .reveal section .chromeless {
   border: none;
   box-shadow: none;
   background: none;
 }

 /**
  * Standard CSS classes for charred-trail. Visible elements that are not
  * currently in focus get an opacity of 30%.
  */
 .reveal .slides section .fragment.burn,
 .reveal .slides section code .fragment.visible { opacity: 0.3; }

 .reveal .slides section .fragment.fragment-hidden { opacity: 0; }

 .reveal .slides section .fragment.visible.no-burn,
 .reveal .slides section .fragment.visible.focus { opacity: 1; }

 .reveal .slides section code .fragment.force-focus { opacity: 1 !important; }

.reveal i {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  vertical-align: baseline;
  margin-top: 0;
}

.reveal pre {
  font-size: 0.6em;
}

.reveal pre code {
  font-family: 'source_code_proregular';
  max-height: 600px;
}

.reveal .unstyled-list {
  list-style-type: none;
  margin-left: 5px;
}

.reveal .contact-info {
  font-size: 26px
}

.reveal .definition {
  margin-bottom: 30px;
}

.reveal .definition:first-child {
  margin-top: 40px;
}

/* This style is fudged in here for the applyAuthorStyles demo */
h4 {
  margin: 20px 0;
  color: #333333;
  font-family: "Quicksand", sans-serif;
  font-weight: 200;
  line-height: 0.9em;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  text-shadow: none;
}

/**
 * Icons
 */

.icon-warning-sign {
  color: #E58B44;
}

.icon-heart {
  color: #d14;
}