@font-face {
  font-family: 'source_code_proregular';
  src: url('../fonts/sourcecodepro-regular-webfont.eot');
  src: url('../fonts/sourcecodepro-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/sourcecodepro-regular-webfont.woff') format('woff'),
       url('../fonts/sourcecodepro-regular-webfont.ttf') format('truetype'),
       url('../fonts/sourcecodepro-regular-webfont.svg#source_code_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'capture_itregular';
  src: url('../fonts/capture_it-webfont.eot');
  src: url('../fonts/capture_it-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/capture_it-webfont.woff') format('woff'),
       url('../fonts/capture_it-webfont.ttf') format('truetype'),
       url('../fonts/capture_it-webfont.svg#capture_itregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'league_gothicitalic';
  src: url('../fonts/leaguegothic-italic-webfont.eot');
  src: url('../fonts/leaguegothic-italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/leaguegothic-italic-webfont.woff') format('woff'),
       url('../fonts/leaguegothic-italic-webfont.ttf') format('truetype'),
       url('../fonts/leaguegothic-italic-webfont.svg#league_gothicitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'league_gothicregular';
  src: url('../fonts/leaguegothic-regular-webfont.eot');
  src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
       url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
       url('../fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.reveal .billboard {
  font-family: 'league_gothicregular';
  letter-spacing: 5px;
}

.reveal .stencil {
  font-family: 'capture_itregular';
  letter-spacing: 5px;
}

.reveal code {
  font-family: 'source_code_proregular';
}

.reveal .strong {
  font-weight: bold;
}

.reveal section .img-chromeless {
  border: none;
  box-shadow: none;
  background: none;
}

/**
 * Standard CSS classes for charred-trail. Visible elements that are not
 * currently in focus get an opacity of 30%.
 */
.reveal .slides section code .fragment,
.reveal .slides section code .fragment.visible { opacity: 0.3; }

.reveal .slides section .fragment.visible.no-burn,
.reveal .slides section .fragment.visible.focus { opacity: 1; }

.reveal .slides section code .fragment.force-focus { opacity: 1 !important; }

/**
 * Demos
 */

.demo-code {
 position: relative;
}

.demo-btn {
  position: absolute;
  right: 60px;
  bottom: 10px;
}

.reveal .demo .widget {
  box-sizing: border-box;
  width: 90%;
  border: 2px dashed gray;
  margin: 15px auto;
  padding: 30px;
}

#demo-templates,
#demo-content {
  height: 600px;
}

.jigglypuff {
  position: absolute;
  -webkit-transform: rotate(-15deg);
  width: 450px;
  transition: bottom 0.3s ease !important;
  bottom: -1000px;
}

.jigglypuff.in {
  bottom: -350px;
}

#bio {
  display: inline-block;
}

input[type="text"] {
  font-size: 20px;
  padding: 3px;
}

/**
 * Voices
 */

.voice.voice-human {
  text-transform: none;
}

/**
 * Helpers
 */

.left-align {
  text-align: left;
}

.hidden {
  display: none;
}

.wide-rule {
  margin-top: 1em;
  margin-bottom: 1em;
}

.blink {
  -webkit-animation: blink 1s steps(5, start) infinite;
  -moz-animation: blink 1s steps(5, start) infinite;
  animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}

.supported {
  color: #387D7E;
}

.not-supported {
  color: #d14;
}

/**
 * Overrides
 */

.reveal i {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  vertical-align: baseline;
  margin-top: 0;
}

.reveal .unstyled-list {
  list-style-type: none;
  margin-left: 5px;
}

.reveal .contact-info {
  font-size: 26px
}
